<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/about.css" />

    <title>About</title>
  </head>
  <body>
    <main class="container">
      <div class="top-bar">
        <div class="menu-logo">
          <h3>JOSEPH SEGBEFIA</h3>
        </div>
        <div class="menu-links">
          <ul>
            <li><a class="menu-button" href="/">Home</a></li>
            <li><a class="menu-button" href="/about">About</a></li>
            <li><a class="menu-button" href="/works">Works</a></li>
          </ul>
        </div>
      </div>

      <div class="avatar">
        <img id="avatar" src="/images/elorm.jpeg" alt="" />
      </div>
      <div class="introduction">
        <p>
          I am Joseph, from Ghana. I have been in Berlin since October, 2020. I
          came to pursue a Masters' Program in Business Intelligence and
          Analytics. I am a fan of tech and computers in general. Taught myself
          python, using the official docs and videos on the internet. I went
          further to learn data science and machine learning from websites like
          DataCamp and Codecademy. I love chess, and I read anything material I
          come in contact with.
        </p>
      </div>
    </main>
  </body>
</html>
