* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  background-color: black;
}

body {
  font-family: cursive;
}
.top-bar {
  height: 2rem;
  display: flex;
  justify-content: space-between;
  margin: 1.5rem;
  background-color: black;
  padding: 1rem;
}

/* .container {
  background-color: black;
} */

.menu-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-logo > h3 {
  color: white;
}

.menu-links {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
}

.menu-links ul li {
  display: inline;
  margin: 1rem;
  list-style: none;
}

.menu-button {
  border: none;
  height: 4rem;
  padding: 1rem;
  width: 6rem;
  border-radius: 0.1rem;
  background-color: black;
  color: white;
  text-decoration: none;
}

.menu-button:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}
.avatar {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
#avatar {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
}

.introduction {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  width: 50rem;
  border: 1px solid white;
  padding: 2rem;
  margin: 0 auto;
  text-align: center;
  border-radius: 4rem;
  box-shadow: 4px 4px grey;
}

p {
  align-items: center;
  color: white;
}
